 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ListIt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>


 <body>
    <script src="script.js"></script>
    <header>
      <div class='icon-bar'>
        <a><img class='logo' src='logo ListIt.PNG' alt="Logo"/></a>
        <a class='mButton' href='./profile.html'>My Profile</a>
        <a class='mButton' href='./index.html'>Home</a>
      </div>
    </header>


    <div class='Add'>
      <a href='./new.html'>
      <button class='button' type='button'>
        +
      </button>
      </a>
    </div>


    <main>
      <div class='card'>
        <div class='card-text'>
          <h2>
            {% for item in list %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </h2>
          <article class='task-description'>
            <p>Description</p>
          </article>
          <form>
            <input type='Submit' value='Complete'>
          </form>
        </div>
      </div>
    </main>

    <footer>
          <div class="banner" style="padding:35px; text-align:center;height=48">
            <br/>
        <div class="banner-content">
            <div>
              <a href='./about.html'> <button class="button1">About Us</button></a>
              <a href='./help.html'>
                  <button class="button1">Help</button></a>
              <br/>
              <br/>
            </div>
          </div>
            </div>
    </footer>
  </body>
</html>