<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ListIt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <script src="script.js"></script>
    <header>
      <div class='icon-bar'>
        <a href='./index.html'>Home</a>
        <a href='./profile.html'>My Profile</a>
        <a href="#settings">Settings</a>
      </div>
    </header>
    <div class='Add'>
      <button class='button' type='button'>
        +
      </button>
    </div>


    <main>
      <div class='card'>
        <div class='card-text'>
          <form>
            <h2>New Task</h2>
            <label for='task-title'>Task name</label>
            <br>
            <input id='task-title' name='title' type='text'>
            <br><br>
            <label for='description'>Task description</label>
            <br>
            <textarea id='description' name='description' rows='10' cols='40'></textarea>
            <br><br>
            <input type='submit' value='Create Task'>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <div class="banner" style="padding:35px; text-align:center;height=48">
        <br/>
        <div class="banner-content">
          <div>
            <a href='./about.html'> <button class="button1">About Us</button></a>
            <a href='./help.html'>
            <button class="button1">Help</button></a>
          </div>
          <br/>
          <br/>
        </div>
      </div>
    </footer>
  </body>
</html>